/*body*/
body {
    margin:0;
    padding:0;
}

.container {
    width:1440px;
}

.logo {
    align-items: center;
    height: 42px;

}

/*header*/
header {
    position: absolute;
    z-index: 200;
    margin: 18px 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-top:40px ;
    height: 50px;
}




.dws-menu ul,
.dws-menu ol {
    list-style: none;
}

.dws-menu > ul {
    display: flex;
    justify-content: center;
}

.dws-menu > ul li a {
    display: block;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: #678C92;
    font-size: 16px;
}

/*fonts*/

h1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 64px;
    color: #486A6F;
}

h2 {
font-family: 'Noto Sans';
font-style: normal;
font-size: 36px;
color: #486A6F;
}

h3{
    font-family: 'Noto Sans';
    font-style: normal;
    font-size:24px;
    color: #486A6F;
}

h4 {
    text-align: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 16px;
    color: #5BCCDE;
}

p{
    font-family: 'Noto Sans';
    font-style: normal;
    color: #678C92;
    font-size: 16px;
}

h5 {
    font-family: 'Noto Sans';
    font-style: italic;
    font-size: 16px;
    color: #486A6F;

}

.tel  a {
    font-size: 20px;
    color: #486A6F;
    text-decoration: none;
}
.email  a {
    font-size: 20px;
    color: #486A6F;
    text-decoration: none;
}

.office  a {
    font-size: 20px;
    color: #486A6F;
    text-decoration: none;
}




button {
    background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397A4;
    border-radius: 5px;
    height: 42px;
    padding: 10px 25px;
    border: none;
}

/*main page*/

main {
    position: relative;
    z-index: 100;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    background: linear-gradient(42.43deg, #C6DBFF 0%, #E1EBFA 52.25%);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.white { 
    background: #C6DBFF;
    border-radius: 5px;
}

.top {
    
    padding: 6px;
}

.bottom {
    
    padding: 6px;
}

.vertical-section {
    padding: 30px;
}

.photos {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 630.5px;
    height: 629.68px;
}

.description {
    width: 350px;
}
/*execution*/

.Container-execution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F4F7FF;
    padding: 60px;
}

.title-ex {
    padding: 30px;
}

.list {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card {
    padding: 50px;
}


/*owner container*/

.container-owner{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background-color: #E1EBFA;
}


/*feature listing*/

.container-feature{
    display:flex;
    align-items: center;
    justify-content: center;
    background: #F4F7FF;
    padding: 80px;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.title-listing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pics {
    display: flex;
    flex-direction: row;
    padding: 33px;
    width: 630.5px;
    height: 629.68px;
}

/*insta-block*/

.container-instagram {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    background: linear-gradient(42.43deg, #C6DBFF 0%, #E1EBFA 52.25%);
}

.social {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photos-insta {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 1024px;
    height: 576px;
}

/*container-form*/
.container-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F4F7FF;
    padding: 60px;
}

.contact {
    display: flex;
    flex-direction: column;
    padding:40px;
}

.contacts-info {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.form-bar {
    display: flex;
    border: none;
    filter: drop-shadow(0px 30px 60px rgba(59, 130, 246, 0.25));
    background: linear-gradient(42.43deg, #C6DBFF 0%, #E1EBFA 52.25%);
    border-radius: 5px;
}

fieldset {
    border: none;
}

.label {
    background-color:transparent;
    border: 1px solid #486A6F;
    border-radius: 3px;
    
}

/**/

footer {
    background: linear-gradient(84.81deg, rgba(72, 106, 111, 0.2) 0%,
    rgba(67, 151, 164, 0.2) 100%), #486A6F;
}

/**/